.donation-form,
.signup-form {
	background: transparent;
	border: none;
	box-shadow: none;
	overflow: hidden;
	max-width: none;

	&__header {
		padding: 0;
		background: none;
	}

	&__stages {
		background: linear-gradient(
			to top,
			rgba(accessible-color($btnPrimaryBgColor, $threshold: 15), 0.95) 20%,
			rgba(accessible-color($btnPrimaryBgColor, $threshold: 15), 0.66)
		);
		display: flex;
		justify-content: space-between;

		position: relative;
		border-radius: $borderRadius $borderRadius 0 0;
	}

	&__stage {
		font-size: 1.25rem;
		position: relative;
		z-index: 1;
		font-family: $paragraphFontFamily;
		font-weight: bold;

		color: white;
		opacity: 0.5;

		&--active {
			color: accessible-color(
				$btnPrimaryBgColor,
				accessibleColor($btnPrimaryBgColor, $threshold: 15)
			);
			opacity: 1;

			&:before,
			&:after {
				opacity: 0.75;
				background: currentColor;
			}
		}

		&--previous {
			opacity: 1;
		}
	}

	&__body {
		border-radius: inherit;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background: $primaryGrey;

		&,
		> * {
			position: relative;
		}
	}

	.button:last-child {
		margin-bottom: 0;
	}
}
