.mobile-tab-menu {
	@include respond-to('mobile', false) {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		color: #000;

		&--logged-out {
			&:before {
				background: white;
				backdrop-filter: unset;
				-webkit-mask-image: unset;
				mask-image: unset;
				top: 0;
			}
		}

		&__large-button {
			border-radius: $borderRadius;
			border-color: unset;
			background-color: $btnSecondaryBgColor;
			&:last-child {
				background-color: $primaryColor;
			}
		}
	}
}
