.image-tile {
	&:not([class*='fundraiser']) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		min-height: 22rem;
		border-radius: $borderRadius * 4;
	}

	&__image:not([class*='fundraiser']),
	&__text,
	&__link {
		position: relative;
		min-height: 11rem;
	}

	&__image {
		padding-bottom: 50%;
	}

	&__text {
		border: 2px solid #d2d2d2;
		border-top: none;
		border-radius: $borderRadius * 4;
		border-top-right-radius: 0%;
		border-top-left-radius: 0%;
		color: $primaryDarkest;
		background: white;

		&:before {
			display: none;
		}
	}

	&--text-yes {
		padding-bottom: unset;
		height: unset;
		background: unset;
	}
}
