/* ICONS */
.icon-container .icon {
	position: relative;
	z-index: 1;
	margin-bottom: 0.5em;

	&:before {
		content: '';
		@include fill(-0.5em);
		border-radius: 50%;
		background: currentColor;
		opacity: 0.1;
		z-index: -1;
	}

	&--normal {
		width: 1.75rem;
		height: 1.75rem;
		font-size: 0.75rem;
	}
}
