.form-field {
	border-width: 1px;
	border-color: currentColor;

	&__label-text {
		align-self: end;
	}

	&__label-text,
	input {
		color: accessible-color($primaryDarker);
	}

	&:focus-within {
		border-color: colorDarken($primaryColor);

		.form__label-text {
			color: accessible-color($primaryColor);
		}
	}
}
