.page-controls {
	float: none;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 0 -0.5em;

	button {
		padding: 0;

		&:before {
			content: none;
		}

		&[disabled] {
			opacity: 0.33;
		}

		i {
			font-size: 35px;
		}
	}
}
