.progress-bar {
	font-family: $heading1FontFamily;
	color: inherit;

	&--size-large {
		font-size: 1.25rem;
	}

	&--size-large &__stats-outter {
		min-height: 1em;
	}

	&__stats-outter {
		line-height: 1;
		color: inherit;
	}

	&__bar {
		background: $primaryLight;
		border-radius: $borderRadius * 10;
	}

	&__goal {
		right: 0;
		opacity: 0.75;
	}
	&__progress {
		border-radius: 50px;
		height: $paragraphFontSize;
		background: rgba(($primaryLight), 0.25);
	}
}
