.share-button {
	border-radius: 50px;
	background-color: $btnSecondaryBgColor;
	border-color: $btnSecondaryBgColor;

	&:hover {
		background-color: $btnSecondaryBgColor;
	}

	&--icon {
		height: unset;
	}

	&--icon,
	&--large {
		justify-content: center;
	}
}
